@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin                : 0;
  padding               : 0;
  text-rendering        : optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background-color: rgb(240, 243, 247);
  color           : rgba(0, 0, 0, 0.8) !important;
  position        : relative;
  min-height      : 100vh;
}

.loadingBox {
  display  : block;
  font-size: 35px;

  position : fixed;
  top      : 33%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.row.carousel:not(:first-child) {
  margin-top: 60px;
}

.item {
  background-color: rgb(255, 255, 255);
  padding         : 0;
  margin          : 7px;

  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;

  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  min-height: 370px;
}

.item img {
  width : 100%;
  margin: 0 auto;

  -webkit-border-top-left-radius : 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft     : 4px;
  -moz-border-radius-topright    : 4px;
  border-top-left-radius         : 4px;
  border-top-right-radius        : 4px;
}

.item img.no-img {
  min-height: 255px;
}

.item a {
  color: hsl(0, 0%, 13%);
}

.item .title {
  margin: 7px;
}

.detail-show {
  height    : 85vh;
  max-height: 85vh;
  min-height: 500px;

  background-color: rgb(255, 255, 255);
  padding         : 0;
  margin          : 50px 15px 15px 10px;

  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  box-shadow           : 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.detail-show .detail-text {
  padding: 30px 20px 10px 20px;
}

.detail-show .detail-text h1 {
  margin-bottom: 0;
}

.detail-show .detail-text h1 {
  margin-bottom: 0.5rem;
}

.detail-show .detail-text .tagline {
  display      : block;
  margin-bottom: 0.6rem;
}

.detail-show .img-container {
  height    : 85vh;
  text-align: right;
}

.detail-show .img-container img {
  min-height: 500px;

  -webkit-border-top-right-radius   : 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright       : 4px;
  -moz-border-radius-bottomright    : 4px;
  border-top-right-radius           : 4px;
  border-bottom-right-radius        : 4px;
}

#search-form .form-control.search-box {
  border-top-left-radius    : .25rem;
  border-top-right-radius   : .25rem;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}