#overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height  : 100%;
	width   : 0;
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left            : 0;
	top             : 0;
	background-color: rgb(0, 0, 0);
	/* Black fallback color */
	background-color: rgba(0, 0, 0, 0.9);
	/* Black w/opacity */
	overflow-x: hidden;
	/* Disable horizontal scroll */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

	.overlay-content {
		position: relative;
		top     : 5%;
		/* 5% from the top */
		width: 100%;
		/* 100% width */
		text-align: center;
		/* Centered text/links */
		margin-top: 30px;
		/* 30px top margin to avoid conflict with the close button on smaller screens */
	}

	.modal-title-bar {
		position: absolute;
		top     : 0px;
		display : block;
		width   : 100%;

		h2 {
			margin: 15px 45px;
			color : #818181;
		}
	}

	.close-btn {
		position        : absolute;
		top             : 0px;
		right           : 45px;
		font-size       : 60px;
		line-height     : 60px;
		color           : #818181;
		background-color: transparent !important;
		border          : none;
		display         : block;
		/* Display block instead of inline */
		text-decoration: none;
	}
}